#MY_TABLE {
    position: relative;
    background-color: wheat;
    width: 800px;
    height: 400px;
    border: 1px solid red;
}
#MY_TABLE > div {
    position: absolute;
    border: 2px solid goldenrod;
    width: 35px;
    height: 35px;
}
#MY_TABLE > div > div {
    font-size:12px;
    text-align: center;
}
#MY_TABLE > div > div:nth-child(1) {
    /*border: 2px solid red;*/
    margin:2px;
    
} 
#MY_TABLE > div > div > span:nth-child(2){
    position: absolute;
    right: 1px;
    
}
body { background-color: rgb(118, 166, 182); }
.NonMetals {background-color:teal;}
.Inert_gas {background-color: seagreen;}
.Metalloid {background-color:deepskyblue ;}
.Poor_metal{background-color:cyan;}
.Transition_metal{background-color:chartreuse ;}
.Alkaline_earth_metal{background-color: gold;}
.Alkali_metal{background-color:crimson;}
.Lathanide_element{background-color:lightpink;}
.Actinide{background-color: lightseagreen;}
.no{background-color: darkgrey;}
#MY_TABLE > div:hover 
{background-color:yellow;font-size:20px}


#e001 { top:   0px; left:  10px; }
#e002 { top:   0px; left: 690px; }
#e003 { top:  40px; left:  10px; }
#e004 { top:  40px; left:  50px; }
#e005 { top:  40px; left: 490px; }
#e006 { top:  40px; left: 530px; }
#e007 { top:  40px; left: 570px; }
#e008 { top:  40px; left: 610px; }
#e009 { top:  40px; left: 650px; }
#e010 { top:  40px; left: 690px; }
#e011 { top:  80px; left:  10px; }
#e012 { top:  80px; left:  50px; }
#e013 { top:  80px; left: 490px; }
#e014 { top:  80px; left: 530px; }
#e015 { top:  80px; left: 570px; }
#e016 { top:  80px; left: 610px; }
#e017 { top:  80px; left: 650px; }
#e018 { top:  80px; left: 690px; }
#e019 { top: 120px; left:  10px; }
#e020 { top: 120px; left:  50px; }
#e021 { top: 120px; left:  90px; }
#e022 { top: 120px; left: 130px; }
#e023 { top: 120px; left: 170px; }
#e024 { top: 120px; left: 210px; }
#e025 { top: 120px; left: 250px; }
#e026 { top: 120px; left: 290px; }
#e027 { top: 120px; left: 330px; }
#e028 { top: 120px; left: 370px; }
#e029 { top: 120px; left: 410px; }
#e030 { top: 120px; left: 450px; }
#e031 { top: 120px; left: 490px; }
#e032 { top: 120px; left: 530px; }
#e033 { top: 120px; left: 570px; }
#e034 { top: 120px; left: 610px; }
#e035 { top: 120px; left: 650px; }
#e036 { top: 120px; left: 690px; }
#e037 { top: 160px; left:  10px; }
#e038 { top: 160px; left:  50px; }
#e039 { top: 160px; left:  90px; }
#e040 { top: 160px; left: 130px; }
#e041 { top: 160px; left: 170px; }
#e042 { top: 160px; left: 210px; }
#e043 { top: 160px; left: 250px; }
#e044 { top: 160px; left: 290px; }
#e045 { top: 160px; left: 330px; }
#e046 { top: 160px; left: 370px; }
#e047 { top: 160px; left: 410px; }
#e048 { top: 160px; left: 450px; }
#e049 { top: 160px; left: 490px; }
#e050 { top: 160px; left: 530px; }
#e051 { top: 160px; left: 570px; }
#e052 { top: 160px; left: 610px; }
#e053 { top: 160px; left: 650px; }
#e054 { top: 160px; left: 690px; }
#e055 { top: 200px; left:  10px; }
#e056 { top: 200px; left:  50px; }
#e057 { top: 200px; left:  90px; }
#e058 { top: 320px; left: 130px; }
#e059 { top: 320px; left: 170px; }
#e060 { top: 320px; left: 210px; }
#e061 { top: 320px; left: 250px; }
#e062 { top: 320px; left: 290px; }
#e063 { top: 320px; left: 330px; }
#e064 { top: 320px; left: 370px; }
#e065 { top: 320px; left: 410px; }
#e066 { top: 320px; left: 450px; }
#e067 { top: 320px; left: 490px; }
#e068 { top: 320px; left: 530px; }
#e069 { top: 320px; left: 570px; }
#e070 { top: 320px; left: 610px; }
#e071 { top: 320px; left: 650px; }

#e072 { top: 200px; left: 130px; }
#e073 { top: 200px; left: 170px; }
#e074 { top: 200px; left: 210px; }
#e075 { top: 200px; left: 250px; }
#e076 { top: 200px; left: 290px; }
#e077 { top: 200px; left: 330px; }
#e078 { top: 200px; left: 370px; }
#e079 { top: 200px; left: 410px; }
#e080 { top: 200px; left: 450px; }
#e081 { top: 200px; left: 490px; }
#e082 { top: 200px; left: 530px; }
#e083 { top: 200px; left: 570px; }
#e084 { top: 200px; left: 610px; }
#e085 { top: 200px; left: 650px; }
#e086 { top: 200px; left: 690px; }
#e087 { top: 240px; left:  10px; }
#e088 { top: 240px; left:  50px; }
#e089 { top: 240px; left:  90px; }

#e090 { top: 360px; left: 130px; }
#e091 { top: 360px; left: 170px; }
#e092 { top: 360px; left: 210px; }
#e093 { top: 360px; left: 250px; }
#e094 { top: 360px; left: 290px; }
#e095 { top: 360px; left: 330px; }
#e096 { top: 360px; left: 370px; }
#e097 { top: 360px; left: 410px; }
#e098 { top: 360px; left: 450px; }
#e099 { top: 360px; left: 490px; }
#e100 { top: 360px; left: 530px; }
#e101 { top: 360px; left: 570px; }
#e102 { top: 360px; left: 610px; }
#e103 { top: 360px; left: 650px; }

#e104 { top: 240px; left: 130px; }
#e105 { top: 240px; left: 170px; }
#e106 { top: 240px; left: 210px; }
#e107 { top: 240px; left: 250px; }
#e108 { top: 240px; left: 290px; }
#e109 { top: 240px; left: 330px; }
#e110 { top: 240px; left: 370px; }
#e111 { top: 240px; left: 410px; }
#e112 { top: 240px; left: 450px; }
#e113 { top: 240px; left: 490px; }
#e114 { top: 240px; left: 530px; }
#e115 { top: 240px; left: 570px; }
#e116 { top: 240px; left: 610px; }
#e117 { top: 240px; left: 650px; }
#e118 { top: 240px; left: 690px; }


